:root {
    --main-color:#4BA87D;
    --main-font:"Raleway", serif;
}
body {
    font-family: var(--main-font);
}
/* #region nav start */
.navbar {
    padding-inline: 2rem;
}
.navbar .logo {
    width: auto;
    font-size: 1.8rem;
    font-weight: 800;
}
.navbar .logo img {
    max-width:55px;
}
.btn1 {
    border-top:5px solid transparent;
    border-bottom: 5px solid var(--main-color);
    text-decoration: none;
    font-weight: 800;
    color: black;
    padding: .2rem .8rem;
}
.btn2 {
    border: 5px solid var(--main-color);
    background-color: var(--main-color);
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    /* font-size: 1rem; */
    padding: .2rem .8rem;
}
.btn3 {
    background-color: #fff;
    border: 3px solid var(--main-color);
    color: var(--main-color);
    text-decoration: none;
    font-weight: 800;
    padding: .4rem .8rem;
}
/* #endregion nav start */
/* #region section1 start */
    .section1 {
        max-width: 100%;
        background-image: url("/HW_Bootstrap/images/bg1.png");
        background-size: cover;
        margin-inline: auto;
    }
    .section1 .container{
        
        padding-inline: 2rem;
        max-width: 100%;
        height: auto%;
        margin-inline: auto;
        padding-block: 6rem;
    }
    .section1 .container .row .text{
        max-width: 489px;
        /* height: auto; */
        vertical-align: center;
        z-index: 2;
    }
    .section1 .container img {
        /* vertical-align: center; */
        width: 680px;
        height:383px;
        object-fit: cover;
        right: 7rem;
        box-shadow: 0px 3px  16px #00000029;
    }
   
    .section1 .container{
        h1{
            font-family: "Playfair Display", serif;
            font-size: 59px;
            font-weight: 700; 
            max-width: 100%;
            text-shadow: none;
        }
        p{
            font-size: 19px;
        }
        .row .text {
            margin-right: 20rem;
        }
    }
    .section1 .container .try {
        background-color: var(--main-color);
        border: 3px solid var(--main-color);
        text-decoration: none;
        color: #fff;
        width: 200px;
        font-weight: 800;
        padding: 1rem 1.5rem;
        text-align: center;
    }
    .section1 .container .demo {
        background-color: #fff;
        border: 3px solid var(--main-color);
        color: var(--main-color);
        text-decoration: none;
        width: 200px;
        font-weight: 800;
        padding: 1rem;
        text-align: center;
    }
    @media screen and (max-width:576px) {
        .section1 .container{
            padding-block: 6rem 0;
        }
        .section1 .container {
            img {
                /* margin-inline:1rem ; */
                max-width: 90%;
                height: 245px;
                left: 50%;
                transform: translateX(-50%);            
                box-shadow: 0px 3px  16px #00000029;
            }
            p {
                padding-top:10rem ; 
            }
            h1{
                
                text-shadow: 0 4px 4px #00000040;
                font-size: 48px;
                
            }
            .row .text{
                position: relative;
                top: -6rem;
            }
            .try,.demo {
                width: 150px;
                padding: .5rem;
            }
        }
    }
    /* #endregion section1 start */
/* #region section2 2-1 start */
.section2 {
    background-image: url('../HW_Bootstrap/images/bg.png');
    background-size: cover;
}
.section2  .container {
    padding: 8rem 0rem; 
    /* rwd要拿掉上面那行 */
    /* max-width: 100%; */
    width: auto;
    height: auto;
        .row:first-child{
            /* padding-top: 5rem; */
            img{
                max-width: 944px;
                height: 531px;
                /* overflow: hidden; */
            }
        }
        h2{
            color: #fff;
            margin-inline: auto;
            font-size: 3rem;
            margin-bottom: 5rem;
            font-family:"Playfair Display", serif; ;
            font-weight: 700;
            text-align: center;
            /* padding: 10rem 0 5rem; */
        }
        .learn {
            background-color: #fff;
            color: var(--main-color);
            text-decoration: none;
            width: 4rem;
            font-size: 1rem;
            font-weight: 800;
            padding: 1rem 1.5rem;
            margin-top: 5rem;
            }
    }

@media screen and (max-width:576px){
    .section2 {
    background-image: url('../HW_Bootstrap/images/bg.png');
    background-size: cover;
    }
    
    .section2  .container {
        padding-inline: 1rem;
        padding-top: 2rem;
            .row:first-child{
                img{
                    padding-top: 0;
                    max-width: 616px;
                    height: 250px;
                }
            }
            h2{
                color: #fff;
                margin-bottom: 3rem;
                margin-inline: auto;
                font-size: 2rem;
            }
    }
}

/* #endregion section2  2-1 */
/* #region section2 2-2 start */
.section2 [class^="card"] a {
color: var(--main-color);
text-decoration: none;
font-weight: 800;
font-size: 1rem;
display: block;
padding:0 1rem  1rem;
}
.section2 .row:nth-child(2){
    margin: 12rem 0 12rem;
}
.section2 .row:nth-child(2) .card1 {
    width: 320px;
    top: -4rem;
    box-shadow: 0 8px 16px 0 #00000029;
    
}
.section2 .row:nth-child(2) .card2 {
    width: 320px;
    top: -4rem;
    box-shadow: 0 8px 16px 0 #00000029;
    
}
.section2 .explain {
    width: 365px;
    padding-block: 2rem;
}
.section2 .explain h3 {
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-block: 1.5rem;
}
@media screen and (max-width:576px){
    .section2 .row:nth-child(2) {
        margin: 6rem  0  0;
    }
    .section2 .row:nth-child(2) .card1 {
        width: 209px;
        /* position:absolute; */
        left:-72px;
        
    }
    .section2 .row:nth-child(2) .card2 {
        width: 209px;
        position: relative;
        right:-72px;
        top: -40px;
        
    }
    .section2 .explain{
        padding-inline: 1.8rem;
    }
}
/* #endregion section2 2-2 */

/* #region section2 2-3 start */

.section2 .row:nth-child(3) .card1,
.section2 .row:nth-child(3) .card2,
.section2 .row:nth-child(3) .card3{
    width: 342px;
    box-shadow: 0 0 30px 15px #00000029;
   
}
.section2 .row:nth-child(3) img {
    width: 100%;
    height: 239px;

}
.section2 .text {
    color: #fff;
    position: absolute;
    left: 13%;
    bottom: 15%;
}
.section2 .text span:first-child{
    font-size: 2rem;
    font-weight:900;
}
@media screen and (max-width:576px){
    .section2 .container {
        padding: 2rem 1rem 0;
    }
    .section2 .row:nth-child(3) .card1,
    .section2 .row:nth-child(3) .card2,
    .section2 .row:nth-child(3) .card3{
        /* width: 223px; */
    }
    .section2 .text {
        left: 16%;
    }
}
/* #endregion section2 2-3 */
/* #region section3 3-1*/
.section3 {
    margin: 1rem 0 3rem;
}
.section3 h3 {
    font-family: "Playfair Display", serif;
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 2.5rem;
    margin-block: 2rem;
    text-align: center;
}
.section3 .bottom  input {
    width: 420px;
    height: 65px;
    padding-block: 20px;
    padding-left: 25px;
}
.section3 .bottom a {
    background-color: var(--main-color);
    text-decoration: none;
    color: #fff;
    width: 200px;
    font-weight: 900;
    padding: 1.25rem 1.5rem;
    text-align: center;
}
.section3 .bottom p{
    color: var(--main-color);
    margin: 1rem 0;
    padding-right: 23rem;
}
.section3 .bottom .imgs {
    padding: 0 10rem;
    max-width: 100%;
}
.section3 .bottom img {
    transform: scale(0.7)
}
@media screen and (max-width:576px){
    .section3 .bottom  input {
        width: 223px;
        display: block;
        margin-inline: auto
    }
    .section3 .bottom p {
        padding-right:0;
        margin-inline: auto;
    }
    .section3 .bottom a{
        width: 160px;
        height: 50px;
        font-size: 15px;
        line-height: 15px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 7rem;
    }   
    .section3 h3 {
        line-height: 50px;
        font-weight: 900;
    }
}
/* #endregion section3 3-1*/

/* #region section3 3-2*/
/* #endregion section3 3-2*/
/* #region section4 */
.section4{
    padding-block: 3rem;
    background-color: var(--main-color);
    color: #fff;
    max-width: 100%;
    h3{
        font-size: 3rem;
        font-family: "Playfair Display", serif;
    }
}
.section4 .pick {
    background-color: #fff;
    color: var(--main-color);
    text-decoration: none;
    width: 15rem;
    font-weight: 800;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}
/* #endregion section4 */


/* #region footer start*/
footer .left .logo img {
    width: 55px;
}
footer .left .lists {
    /* padding-right: 8rem; */
}
footer .left .lists a{
    text-decoration: none;
    font-weight: 800;
    color: #000;
}
footer .left span {
    font-family: var(--main-font);
    font-weight: 800;
    font-size: 2rem;
    position: relative;
    top: 8px;
}
footer .terms a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
footer .anoucement {
    font-weight: 700;
}
/* #endregion footer */

